# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# IDEs and Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test / Coverage
.coverage
htmlcov/

# Database / Local settings
*.db
*.sqlite3
.env
